/* Color Theme Swatches in Hex */
.DUCTAL-1-hex { color: #526BA8; }
.DUCTAL-2-hex { color: #30588C; }
.DUCTAL-3-hex { color: #268EA6; }
.DUCTAL-4-hex { color: #F2F2F2; }
.DUCTAL-5-hex { color: #262626; } 


/* Universal page styling */
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #262626;
    background-color: #F2F2F2;
    margin: 1;
    padding: 1;
    scroll-behavior: smooth;
}
/* Background image */
body {
    background-size: cover;
    background-position: center center;
}

/* navigation bar */
.nav {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    color: #262626;
    position:sticky;
    top:0;
    width:100%;
}

.nav a:hover {
    color:#268EA6;
    text-shadow: 0 5px 10px #30588C;
}
/* Page header with name and job title */
main section {
    display: flex;
    margin: 3px;
    justify-content: left;
}

main section, .title {
    font-size:20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #262626;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin: 15px;
}

/* Text and headlines for sections */
main section .div, .h2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    color: #262626;
}

/* Add text shadow when mouse hovers over text*/
a:hover {
    color:#268EA6;
    text-shadow: 5px 10px 30px #30588C;
}

/* Styling for content in About Me, My Work, and Contact Info */
#work, #contact {
    display:flex;
    margin: 5px;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    line-height: 3;
}

#figure {
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-style: italic;
    font-size: smaller;
    line-height: 2;
    border: 2px #526BA8 solid;
} 

#figCaption {
    display: table-caption;
    caption-side: bottom;
}

#container {
    display: flex;
    width: 10%;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: smaller;
    line-height: 2;
    border: 2px #526BA8 solid;
    margin: 30px;
}

/* Remove bullet points and add spacing to list items in contact section */  
ul {
    list-style-type: none;
    line-height: 2;
}

/* Formating for picture of myself*/
#photo {
   display: block;
   margin-left: 30%;
   width: 50%;
   height: 95%;
}   
/* Formating for project gifs*/
#project1, #project2, #project3, #project4 {
    width: 500px;
    height: auto;
}

/* Styling for web page footer*/
.footer {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    color: #262626;
    bottom:0;
    width:100%;
}

/* Media query */
@media screen and (max-width:660px) {
    main section {
        flex-direction:column;
    }

    main section, .title {
        width: 100%;
        text-align: center;
        justify-content: center;   
    }

    main section, .content {
        width: 100%;
        text-align: center;
        justify-content: space-evenly;
    }
}